
{
    "presets": [
      "@babel/env",
      "@babel/react"
    ],
    "plugins": [
      "@babel/proposal-class-properties",
      ["transform-assets", {
        "extensions": ["svg"],
        "name": "[name].[ext]?[sha512:hash:base64:7]"
      }],
      [
        "@researchgate/babel-plugin-transform-scss-import-to-string",
        { "precision": 3 }
      ]
    ],
    "env": {
      "production-esm": {
        "presets": [
          ["@babel/env", { "modules": false }],
          "@babel/react"
        ],
        "plugins": [
          "@babel/proposal-class-properties"
        ]
      }
    }
  }